body{
    background-color: #FBEC5D;
}

#birthday-picture {
    content: url(../picture/4.jpg);
    width: 80%;
    height: auto;
    background-size: cover;
    margin: 0 10%;
    border-radius: 1em;
    box-shadow: 5px 5px 30px rgb(0 0 0 / 20%);
}

#player-container{
    background: linear-gradient( #FFB75E, #ED8F03);
}

.card1-top,
.card2-top,
.card3-top,
.card4-top{
    background: #f5e76a;
    box-shadow:  7px 7px 14px #d5c94f,
                -7px -7px 14px #ffff6b;
}

.card1-bottom,
.card2-bottom,
.card3-bottom,
.card4-bottom{
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    background-color: rgba(251, 236, 93, 0.54);
    border: 1px solid rgba(224, 210, 76, 0.2);
}